@{
    ViewBag.Title = "Kontakt";
    ViewBag.Janitor = "Björn Petterson";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="row">
    <div class="col-md-4">
        @*<h2>@ViewBag.Title</h2>*@
       
        <h2>Felanmälan</h2>
        <p>Har du något som behöver felanmälas skall du ringa <b>Riksbyggen</b> för hantering centralt på 0771-860 860 när som på dygnet.</p>
        <article>
            <h4>Vaktmästare</h4>
            <p>
                Vår vaktmästare <b>@ViewBag.Janitor</b> når du vardagar på telefon 046 - 30 75 72 eller i kvarterslokalen på följande tider:
                Måndag till fredag: 07.00 - 07.15 ; 09.00 - 09.30 ; 12.00 - 12.30. Gäller det Felanmälningar skall du istället ringa Riksbyggen för hantering centralt på 0771-860 860.
            </p>
        </article>
        <article>
            
            <h4>Riksbyggen Jour</h4>
            <p>
                Om något akut inträffar på kvällar eller helger kan du kontakta Riksbyggen Dag & Natt på telefon 0771 - 860 860.
                Du kan även ringa Störningsjouren på Riksbyggen Dag & Natt om du tycker att grannes fest är för högljudd på telefon 0771-860 860.
            </p>
        </article>
        <article>
            <h4>Anticimex</h4>
            <p>Om du ser skadedjur i lägenheten så skall du genast kontakta Anticimex för åtgärd av problemet innan det sprider sig i hela huset.</p>
            <p>
                Tel. 040 - 693 61 00 (Dagtid).<br/>
                Ange 1890874, Folksam, Domarringen i Lund.<br />
            </p>
        </article>
        <article>
            <h4>Folksam</h4>
            <p>Försäkringsfrågor gällande det kollektiva bostadsrättstillägget, var vänlig och ange föreningens namn och försäkringsnummer vid kontakt.</p>
            <p>
                Tel. 0771 - 880 800 (Dagtid)
                Tel. 020 - 450 000 (Efter kontorstid och helger)
                Ange 169339, Folksam, Domarringen i Lund.
            </p>
        </article>
</div>
<div class="col-md-4">
    <h2>TV & Bredband</h2>
    <p>Om du får problem med TV, Comhems bredband eller telefoni ska du ALLTID kontakta Comhem på telefon 0771 - 550 000. Kolla gärna först med grannen om de upplever samma problem. Det är då lättare att göra en mer korrekt felanmälan samt att Comhem kan prioritera ärendet rätt.</p>
</div>
<div class="col-md-4">
    <h2>Styrelsen</h2>
    <p>
        Meddelande till styrelsen kan du antingen lämna till vaktmästaren eller lägga i brevlådan utanför samlingslokalen som töms dagligen alternativt kan du skicka ett mail.

        På mail kan enklare frågor och idéer framföras men större ärenden måste lämnas skriftligen i brevlådan. Alla ärenden per mail behandlas på närmast följande styrelsemöte.
    </p>
    <article>
        <h4>Riksbyggen</h4>
        <p>
            Riksbyggens representanter är Per Svensson och Niklas Frisell. Du når dem dagtid på telefon 0771 - 860 860.
            En sammanställning av viktiga telefonnummer till Riksbyggen finns att hämta här.
        </p>
    </article>
    <article>
        <h4>Webmaster</h4>
        <p>Om du har synpunkter på hemsidan eller önskemål om vad du vill se mer av här skicka ett mail till Webmaster.</p>
    </article>
</div>

</div>



@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Contact:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
