@{
    ViewBag.Title = "Aktuellt";
}



<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
       
        <article>
            <h3>Ja till nytt bredband</h3>
            <p>
                Efter omröstningen om bredband från Com Hem,
                då en klar majoritet röstat JA, kommer styrelsen
                nu att anta erbjudandet. Det nya avtalet träder i
                kraft den 1/7 2014 så det är därför viktigt att boende
                själva säger upp eventuella befintliga abonnemang i god
                tid. (Om man inte av någon anledning vill betala för
                flera). Avgiften för det nya bredbandsabonnemanget kommer
                att täckas av månadsavgiften. Tack vare en räntesänkning
                vid omsättning av några av föreningens lån kommer en
                hyreshöjning inte att behövas. Det tycker vi i styrelsen
                är en riktigt trevlig nyhet!
            </p>

            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Mer... &raquo;</a></p>
        </article>
    </div>
    <div class="col-md-8">
        <h2>Bostadsrättsföreningen Domarringen</h2>
        <p>Bostadsrättsföreningen Domarringen är belägen på Gunnesbo i Lund. Området ligger mycket bra till med endast några minuter till Gunnesbo tågstation. Vi har goda buss- och tågförbindelser nästan dygnet runt och gott om cykelvägar till och från närområdet.

        <p>Vårt område är mycket lugnt samt bil- och fordonsfritt med stora grönområden. Det finns gott om fräscha lekplatser för barn i alla åldrar. Dessutom har föreningen fullt med fruktträd där medlemmarna kan plocka frukt.</p>

        <p>Vi har under 13 år haft oförändrade avgifter och föreningens ekonomi är mycket god!!</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>