@{
    ViewBag.Title = "Information";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-4">
        <h2>Utemiljö & gemensamma utrymmen</h2>
        <p>
            Brf Domarringen uppfördes 1987. Totalt 184 bostäder samt en föreningslokal befinner sig på Rudeboksvägen 568 till 936 på Gunnesbo i Lund.
        </p>
        <p>
            Fördelningen av lägenheter i föreningen är följande:<br />
            64 st - 2 rum och kök<br />
            60 st - 3 rum och kök<br />
            60 st - 4 rum och kök
        </p>
        <p>
            83 st garageplatser samt 112 st parkeringsplatser<br />
            Besöksparkeringar finns vid norra infarten till området.
        </p>
        <p>Parkeringsplatserna får <b>inte</b> användas till reparationer av bilen.</p>
        <article>
            <h4>Container för grovsopor och trädgårdsavfall</h4>
            <p>Föreningen har en container till för medlemmarna. I denna container får man kasta de grovsopor som inte går att källsortera i de vanliga miljöhusen samt trädgårdsavfall. Det får under inga som helst omständigheter kastas färg eller miljöavfall, bildäck eller bilbatterier, elektronikavfall samt sten, jord och grus i containern då detta medför dryga extrakostnader för föreningen. Missbruk av containern kommer leda till att den kommer stängas för gott. För övrigt avfall som inte går att kasta i föreningens container hänvisar vi vänligast tll Sysavs Avfallsanläggning 10 minuter bort</p>
        </article>
        <article>
            <h4>Parkering och garage</h4>
            <p>Parkeringsplats tilldelas automatiskt den boende vid lägenhetsöverlåtelse och till garagen är det separat kö vilka båda sköts av Riksbyggen. Kontakta Riksbyggen för mer information.</p>
        </article>
        <article>
            <h4>Parabolantenner och Blomsterlådor</h4>
            <p>Parabolantenner samt blomsterlådor i föreningen får inte monteras på husfasaden samt får på andra våningen inte sticka ut utanför balkongräcket med hänsyn till risken att den faller ner.</p>
        </article>
        <article>
            <h4>Snö och halkbekämpning</h4>
            <p>
                Föreningen snöröjer på asfalterade gångar samt parkeringarna, dock inte parkeringsrutan. Medlemmarna uppmanas att själva skotta bort den vall som bildas framför garageportarna samt bakom parkeringsrutorna.
            </p>
            <p>Boende sköter om trappan upp till andra våningen samt gången fram till brevlådorna från ytterdörren. Hjälp gärna brevbärarna samt tidningsbuden genom att skotta framför brevlådorna.</p>
            <p>Det finns snöskyfflar att låna i miljöhusen och glöm inte att ställa tillbaka dem när du är klar så att alla kan ges möjlighet att skotta.</p>
        </article>
    </div>
    <div class="col-md-4">
        <h2>Din bostad</h2>
        <article>
            <h4>Våtutrymmen, badrum och tvättstuga</h4>
            <p>Det är viktigt att alla medlemmar underhåller sina bostäder, inte minst badrummen, för att inte onödiga skador ska uppstå på husen. Som bostadsrättshavare har du vårdplikt för din lägenhet, dvs du måste på egen bekostnad hålla lägenheten i gott skick. En badrums- renovering måste utföras fackmannamässigt.</p>
            <p>Vid renovering av badrum utgår ersättning till den boende om maximalt 3000 kr per golvbrunn. Den boende måste inkomma med en specificerad faktura där bytet framgår till Styrelsen.</p>
        </article>
        <article>
            <h4>Försäkringar</h4>
            <p>Föreningen har ett kollektivt bostadsrättstillägg i samarbete med Folksam och avtalet kan du ladda hem här. </p>
            <h5>Kontaktuppgifter till Folksam</h5>
            <p>
                Skadeanmälan, Bostadsrättstillägget, Folksam<br />
                Tel. 0771 - 880 800 (Dagtid)<br />
                Tel. 020 - 45 00 00 (Efter kontorstid och helger)<br />
                Ange 169339, Folksam, Domarringen i Lund.
            </p>
            <h5>Kontaktuppgifter till Anticimex</h5>
            <p>
                Skadedjur, Anticimex<br />
                Tel. 040 - 693 61 00 (Dagtid).<br />
                Ange 1890874, Folksam, Domarringen i Lund.
            </p>
        </article>
        <article>
            <h4>Uterum och balkonginglasningar</h4>
            <p>
                Uterum söker den boende själv bygglov till och storleken är begränsad till max 80 cm utanför balkongen på andra våningen samt skall gå i stil med de tidigare byggda på området.
            </p>
            <p>
                Glöm inte att skicka in en anmälan till styrelsen.
            </p>
        </article>
        <article>
            <h4>Manualer</h4>
            <h5>Köksfläkten</h5>
            <p>
                För att få ett så fräscht inomhusklimat som möjligt och vädra ut all fukt ur våtutrymmen är det viktigt att ventilationen sköts på ett korrekt sätt. Ventilationen är inbyggd i köksfläkten och kan därför inte bytas ut vid renovering av köket. För handhavande av köksfläktens ventilation se information angående Fläktmanövrering . Det går dock att byta fläktkåpan över spisen till en ny och de säljs i Malmö av företaget i3acho AB.
            </p>
            <p>
                Föreningen kommer en gång per år och byter filter i värmeåtervinningsaggregatet och sköljer ur värmeväxlaren. Det utkommer information i brevlådan inför varje byte.
            </p>
        </article>
        <article>
            <h4>Uthyrning i andra hand</h4>
            <p>Vill du hyra ut din lägenhet i andra hand under en begränsad tid skall du fylla i en ansökan och skicka in den till riksbyggen. Styrelsen beslutar om uthyrning i perioder om 6 måna der. Du hittar ansökningsbl anketten här.</p>
        </article>
</div>
    <div class="col-md-4">
        <h2>Från styrelsen</h2>
        <article>
            <h4>Boendeinfo</h4>
            <p>
                Blankett för förfrågan till styrelsen om ändring i <b>lägenheten.</b> Ifylles och läggs på brevlådan vid föreningslokalen. Glöm inte att komplementera med skisser eller ritningar vid behov.
            </p>
            <p>
                Blankett för förfrågan till styrelsen om ändring i <b>utemiljön.</b> Ifylles och läggs på brevlådan vid föreningslokalen. Glöm inte att komplementera med skisser eller ritningar vid behov.
            </p>
            <p>
                En gång om året kommer föreningen och byter ett filter i ventilationen över spisen för att bibehålla så bra inomhusluft som möjligt, mer information delas ut innan detta sker.
            </p>
        </article>
        <article>
            <h4>Bonytt</h4>
            <table></table>
        </article>
        <article>
            <h4>Ekonomi</h4>

            <h5>Årsredovisningar</h5>
            <table></table>
        </article>
        <article>
            <h4>Motioner till årsstämman</h4>
            <h5>Hur skriver jag en motion?</h5>
            <p>Motioner till å̊rsmötet ska vara inlämnade senast den 31 juli varje år. “Mindre” ärenden kan lämnas när som helst till styrelsen. Motioner är fö̈r sådant som stä̈mman behö̈ver besluta om. </p>
            <h5>En motion innehåller:</h5>
            <ol>
                <li>En rubrik som kortfattat beskriver vad ärendet handlar om.</li>
                <li>Själva motionen – här förklarar du bakgrunden till ditt förslag, och beskriver hur du vill ha det i stället.</li>
                <li>Yrkande – motionen ska avslutas med ett konkret förslag, som årsmoötet ska kunna säga ja eller nej till.</li>
                <li>Skriv under motionen med ditt namn, adress, lägenhetsnummer samt datum, och lämna den till styrelsen i brevlådan på föreningslokalen.</li>
            </ol>
        </article>
        <article>
            <h4>Riktlinjer</h4>
            <p>Är du sugen på att fixa till i trädgården och vill bygga ett nytt staket eller trädäck? Läs då först igenom Brf Domarringens Riktlinjer för utemiljö redan i planeringsstadiet innan du kommer in med din ansökan till styrelsen. Blankett för förfrågan till styrelsen om ändring i utemiljön. Ifylles och läggs på brevlådan vid föreningslokalen. Glöm inte att komplementera med skisser eller ritningar vid behov.</p>
        </article>
        <article>
            <h4>Info A till Ö</h4>
            <p>Information om vår förening från A till Ö.</p>
        </article>
</div>

</div>
    @*<@*address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>info:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>*@
